	<div class="container" id="masthead">
		<div class="row">
			<div class="nine columns" id="masthead-content">
					<!--{% for post in site.categories.news | limit 1 %}-->
						<!--<div id="masthead-para">{{ post.content }}</div> -->
						<div id="masthead-para">
							<p>The first book of <span id="highlight">Alchemy Reigns!</span> is now complete. Set in a world where tension and fear run high due to the presence of humans with the ability to conjure elemental forces at will.</p>
							<p>Book 1 is titled <span id="highlight">Breaking Silence</span>, and follows the journeys of <span id="highlight">Artisa</span>, a member of the Tech regime, and Veston, a human boy.</p>
						</div>
					<!--{% endfor %}-->
			</div>
			<div class="three columns" id="masthead-thumb">
				<img src="/images/books/alchemy-med.png">
			</div>
		</div>
	</div>	
