---
layout: page
title: Alchemy Reigns I &#58; Breaking Silence
short-title: Alchemy Reigns I
category: books
thumb: /images/books/alchemy-med.png
cover: /images/books/alchemy-large.png
nav: books
contrib: Authored
year: 2011
length: 431 pages
genre: Sci-Fi, Romance, Fantasy, Thriller
---
<div id="book-content">
	<h1><%= @item[:title] %></h1>

	<%= render 'book-stats' %>


	<h2>Blurb</h2>
		<p>In a world where tension and fear reign, who can you trust? A selection of the worlds population have developed the ability to call forth alchemic elements. They can conjure up water, electricity, fire. They can bend metal and whittle wood with the power of their minds.</p>
		<p>When a group of these so called Alchemists breaks away and begins using technology and powering it with their alchemic abilities, the rest of the Alchemist faction decides to shun them and a rift is created, forcing the human race into three distinct factions. With neither one having the upper hand and with tensions rising, just what will happen to such an unstable world?</p>
		<p>Diese Batone, an agent of the Tech regime, has managed to capture and Alchemist in an abandoned trainyard. She begins questioning him about the mysterious <em>Stone of Jebrath</em>. Everything seems to be going according to plan until her partner Artisa Carrell begins acting exceedingly strangely.</p>

	<h2>About the book</h2>
<p>Alchemy Reigns is my second novel and took a little over two months to write. The story came about as a result of me wanting to write about both mecha and magic. The two elements came together to form the different factions in the book.</p>
<p>The book is planned to last for four volumes. Each book covers a different theme and is expected to set a tone for the characters to explore.</p>
<p>Unlike my first novel, Alchemy Reigns will be released in its entirety as MOBI, EPUB, and PDF. Stay tuned for more information.</p>
		
	<%= render 'book-downloads' %>
	<p>&nbsp;</p>

</div>
