---
layout: page
title: Alchemy Reigns II &#58; The Gathering
short-title: Alchemy Reigns II
category: books
thumb: /images/books/alchemy-med.png
cover: /images/books/alchemy-large.png
nav: books
contrib: Authored
year: 2012
length: Unknown
genre: Sci-Fi, Romance, Fantasy, Thriller
---
<div id="book-content">
	<h1><%= @item[:title] %></h1>

	<%= render 'book-stats' %>


	<h2>Blurb</h2>
		<p>Not available yet</p>
		
	<h2>About the book</h2>
	<p>Alchemy Reigns : The Gathering is still being written. It currently sits at 50 pages. Stay tuned for more information.</p>	
	
	<%= render 'book-downloads' %>
	
	<p>&nbsp;</p>

</div>
