---
layout: page
title: Emblem Divide
short-title: Emblem Divide
category: books
thumb: /images/books/emblem-med.png
cover: /images/books/emblem-large.png
nav: books
contrib: Authored
year: 2009
length: 642 pages
genre: Sci-Fi, Romance, Thriller
d-pdf: http://emblemdivide.files.wordpress.com/2010/03/chapter0-51.pdf
---

<div id="book-content">
	<h1><%= @item[:title] %></h1>

	<%= render 'book-stats' %>

	<h2>Blurb</h2>
	<p>The lecturer began commenting. “Oken Brown. He looks harmless enough but he was one of the most ruthless criminals ever to have graced God’s earth.” Suddenly Zane became interested. “He developed the first hand held temporal weapon, and used it in an underground fighting arena only twenty years ago.”</p>
	<p>It wasn’t as if Oken hadn’t killed before, he was an elite member of an underground culture. He was almost like an ambassador of death. Oken was one of the best, but even he shuddered at this new weapon which threatened the very existence of everyone on the planet.</p>

	<h2>About the book</h2>
	<p>Emblem Divide was released on a wordpress blog in the winter of 2009. It was released serially, as a chapter every two days. Emblem Divide was released for free and readers were encouraged to donate money to three charities.</p>
	<p>The book was started in 2003 whilst I was studying at university in a little under a month I had written almost 40,000 words. Quite frankly the most I had ever written in my life. The book then took a back seat for 6 years. My wife who had read the beginnings of it, begged me to finish it and 6 years later I did and gave it to her as a 5 year wedding anniversary present.</p>
	<p>Shortly afterwards, I asked her if she would mind me relseasing the book online for free as an attempt to raise money for charity. The seed was sown and emblemdivide.com was set up on a wordpress blog.</p>
	
	<h2>Reception</h2>
	<p>The book has received many favourable reviews, some excerpts of which are presented below:</p>
	<div id="book-quote">
		<p>"This book feels like a great movie wired directly into your imagination. Think “Back to the Future” meets “The Princess Bride” and “Pulp Fiction”. Yeah, I know!</p>

		<p>I just closed the cover of a book called Emblem Divide. A great story with a fantastic style and finished with, for once in a novel – the perfect ending."</p>
		<div id="book-quote-author">
			Damien Chavarria
		</div>
	</div>
	
	<p>And of course, it wouldn't be complete without an excerpt from my wife's review</p>
	
	<div id="book-quote">
		<p>"The writer has come up with an astoundingly original take on the concept of time travel whilst always staying two steps ahead of the readers train of thought."</p>
		<div id="book-quote-author">
			Lisa
		</div>
	</div>
	
	<%= render 'book-downloads' %>
	
	<h2>Videos</h2>
	
	<p>A number of videos were created for readers wishing to learn more about the process of creating the world of Emblem Divide. Be aware, these videos do contain <span id="highlight">spoilers</span>, so please bear that in mind before watching them. The 5 videos are presented in a Youtube playlist.</p>

	<iframe width="560" height="315" src="http://www.youtube.com/embed/videoseries?list=PLC7208812132E3873&amp;hl=en_GB" frameborder="0" allowfullscreen></iframe>

	<p>&nbsp;</p>

</div>
